<div class="ItemCard">
  <figure class="ItemCard__thumb">
    <img src="{{(selectedRecipe | async)?.imagePath}}"  height="340" width="510" alt="" class="img-responsive">
  </figure>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{(selectedRecipe | async)?.name}}</h1>
  </div>
  <div class="col-xs-12 btn-group">
    <button class="btn btn-success" (click)="onAddToShoppingList()">To Shopping List</button>
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{(selectedRecipe | async)?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of (selectedRecipe | async)?.ingredients">
        {{item.name}} ({{item.amount}})
      </li>
    </ul>
  </div>
</div>
